.page{
    height: calc(100vh - 1px) !important;
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    width: 100%;
    padding: 10%;
}

h1{
    font-size: 4.5rem;
    margin-left: 30%;
    margin-right: 30%;
    border-bottom: 1px solid rgb(114, 181, 76);
    min-width: 420px;
}

.formCenter{
display: inline-block;
margin-right: 7%;
margin-left: 7%;
margin-top: 3%;
text-align: left;
}

.Container{
    text-align: center;
}

.Title{
    margin-bottom: 5%;
}

.FormField__Button {
    background-color: rgb(114, 181, 76);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    /*padding: 15px 70px;*/   /*short button*/
    padding: 15px 115px;
    font-size: 1.5em;
    font-weight: 500;
  }



