ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    font-size: larger;
  }
li{
    float: right;

}

li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 77, 77); /* hover with an underline or background-color? */
    /* text-decoration: underline; */ /* hover with an underline or background-color? */
}
