.sidenav---sidenav---_2tBP{
    background: rgb(49, 49, 49) !important;
}

.sidenav---sidenav-nav---3tvij {
    margin-top: 30% !important;
}

h5{
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}