.App {
  height: 100vh;
  display: flex;
  color: white;
}


.App__Aside {
  width: 50%;
  /*background-color: #66DAC7;*/
  background-image: url("/images/Vasteras_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  transform: scale(1.1); /* scalar med 10% */
  filter:blur(4.5px);
  -webkit-filter:blur(5px);
  -moz-filter:blur(5px);
}

.InfoText{
/* position: absolute; */
text-decoration-color: whitesmoke;
transform: scale(0); /* scalar med 10% */
filter:blur(0px);
-webkit-filter:blur(0px);
-moz-filter:blur(0px);

}

.App__Form {
  width: 50%;
  background-color: rgb(49, 49, 49);    
  padding: 25px 40px;
  overflow: auto;
  z-index: 10; /* får skarp kant mellan höger och vänster sida */
}
/*the right side*/
.FormCenter {
  margin-bottom: 100px;
  position: absolute;
  margin-left: 6em;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 20%;
  margin-left: 6em;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid rgb(114, 181, 76);
}

.FormField {
  margin-bottom: 40px;
  position: relative;
}


.FormField__Label {
  font-size: 1em;
  color: white;
  position: absolute;
  pointer-events: none;
  transition: .5s;
  left:0;
  top:10px;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
/*The animation*/
.FormField__Input:focus ~ label{
  top: -12px;
  left: 0;
  color: #616E7F;
  font-size: 0.8em;
  font-weight: bold;
}
.FormField__Input:focus{
  border-bottom: 1px solid rgb(114, 181, 76);
}
/*funkar inte- ska stanna uppe(valid som blir fel)*/
/*.FormField__Input:valid ~ label{
  top: -12px;
  left: 0;
  color: #616E7F;
  font-size: 12px;
  font-weight: bold;
}*/
/*För att det ska bli grönt när man skrivit in- funkar ej(valid)*/
/*.FormField__Input:valid{
  border-bottom: 1px solid rgb(114, 181, 76);
}
*/
.FormField__Button {
  background-color: rgb(114, 181, 76);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 1em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid rgb(114, 181, 76);
  padding-bottom: 5px;
}

/* .FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
} */

