.App {
  height: 100vh;
  display: flex;
  /*color: white;*/
  color: pink;
}

/*Här testade jag med Floating-label, har ej fått till det ej*/
/*.floating-label-field {
  border-width: 0;
  color: rgba(44, 62, 80, 0.75);
}
.floating-label-field:focus {
  outline: 0;
  box-shadow: 0;
}
.floating-label-field::placeholder {
  color: transparent;
}
.floating-label-field, .floating-label-field + .floating-label {
  line-height: 1;
  font: inherit;
  padding: 1.5em;
  height: 4em;
}
.floating-label-field + .floating-label {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.floating-label-field, .floating-label-field + .floating-label {
  position: relative;
}
.floating-label-field {
  border-bottom: 3px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}*/

.App__Aside {
  width: 50%;
  /*background-color: #66DAC7;*/
  background-image: url("/images/Vasteras_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  transform: scale(1.1); /* scalar med 10% */
  filter:blur(4.5px);
  -webkit-filter:blur(5px);
  -moz-filter:blur(5px);
}

.InfoText{
/* position: absolute; */
text-decoration-color: whitesmoke;
transform: scale(0); /* scalar med 10% */
filter:blur(0px);
-webkit-filter:blur(0px);
-moz-filter:blur(0px);

}

.App__Form {
  width: 50%;
  background-color: rgb(49, 49, 49);    
  padding: 25px 40px;
  overflow: auto;
  z-index: 10; /* får skarp kant mellan höger och vänster sida */
}
/*halva sidan*/
.FormCenter {
  margin-bottom: 100px;
}
/**/
.FormCenter input{
  
}
/**/
.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 20%;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid rgb(114, 181, 76);
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  /*text-transform: uppercase;*/
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F; 
}

.FormField__Button {
  background-color: rgb(114, 181, 76);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid rgb(114, 181, 76);
  padding-bottom: 5px;
}

/* .FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
} */

/*Bara prov nedan*/
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.box input { 
  padding: 10px 0;
  margin-bottom:30px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border:none;
  border-bottom: 2px solid #999;
}
.box form div{
  position: relative;
}
.box form div label{
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 0;
  pointer-events: none;
  color: #999;
  transition: .5s;
}

.box input:focus ~ label {
  top:-12px;
}