.App {
  height: 100vh;
  display: flex;
  color: white;
}


.App__Aside {
  width: 50%;
  /*background-color: #66DAC7;*/
  background-image: url("/images/Vasteras_1_blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
 /*  transform: scale(1.1); /* scalar med 10% */
  /*filter:blur(4.5px);
  -webkit-filter:blur(5px);
  -moz-filter:blur(5px); */
}

.InfoText{
text-align: center;
font-size: 100px;
position: relative;
transform: translateY(-90%);
top:60%;
font-weight: 500;
line-height: 65px;
text-shadow:1px 1px 1px rgb(102, 102, 102);
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none; 
/*transform: scale(0);
filter:blur(0px);
-webkit-filter:blur(0px);
-moz-filter:blur(0px); */
}

#InfoTextUnder{
  font-size: 60px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}




.App__Form {
  width: 50%;
  background-color: rgb(49, 49, 49);    
  padding: 25px 40px;
  overflow: auto;
  z-index: 10; /* får skarp kant mellan höger och vänster sida */
}
/*the right side*/
.formContainer{
  margin: 0 auto;
  width: 350px;
  padding-top: 10%;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  padding-bottom: 1em;
/*   margin-bottom: 50px;
  margin-top: 23%;
  margin-left: 19em; */
}
.FormTitle :hover{
  color:whitesmoke;
  text-decoration: none;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 2.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid rgb(114, 181, 76);
}


.FormField {
  margin-bottom: 26px;
  position: relative;
}


.FormField__Label {
  font-size: 1.2em;
  color: white;
  position: absolute;
  pointer-events: none;
  transition: .5s;
  left:0;
  top:10px;
}
.FormField__Input {
  width: 20em;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder{
  color: transparent;
}
/*The animation*/
.FormField__Input:focus ~ label,
.FormField__Input:not(:placeholder-shown) + .FormField__Label {
  top: -12px;
  left: 0;
  color: #616E7F;
  font-size: 1em;
  font-weight: bold;
}
.FormField__Input:focus{
  border-bottom: 1px solid rgb(114, 181, 76);
}

.FormField__Input:not(:placeholder-shown){
  border-bottom: 1px solid rgb(114, 181, 76);
}

.FormField__Button {
  background-color: rgb(114, 181, 76);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 115px;
  font-size: 1.5em;
  font-weight: 500;
}

.FormField__Link {
  color: whitesmoke;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid rgb(114, 181, 76);
  padding-bottom: 5px;
  position: relative;
  top: 1em;
  right: -25%;
}

.FormField__Link:hover{
  color: whitesmoke;
  text-decoration: none;
}

 .FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid rgb(114, 181, 76);
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
} 
.FormField__TermsLink:hover{
  color: #646F7D;
  text-decoration: none;
}
.FormField__Select{
  color: whitesmoke;
  background-color: transparent;
  border-color: #445366;
  font-size: 1.2em;
  width: 17em;
  height: 2em;
}
.FormField__Select:hover{
  background-color: gray;
}

.Formfield_AdressButton{
  background-color: transparent;
  color:whitesmoke;
  border-color: #445366;
  margin-top: 1em;
  position: relative;
}
.FormField__Adress{
  width: 18em;
  font-size: 1.2em;
}
.adress_input{
  width: 20em;
  background-color: transparent;
  border:none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
#SignUp__Error{
  font-size: 0.9em;
  color: red;
  position: relative;
  bottom: 1em;
  left: 5em;
}
#SignIn__Error{
  font-size: 0.9em;
  color: red;
  position: relative;
  bottom: 1em;
  left: 4em;
}